name: Release

on:
  release:
    types: [published]

jobs:
  build:
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: bun-linux-x64
            name: stream-notifier-linux-x64
          - os: macos-latest
            target: bun-darwin-x64
            name: stream-notifier-darwin-x64
          - os: windows-latest
            target: bun-windows-x64
            name: stream-notifier-windows-x64.exe

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install

      - name: Build
        run: bun build --compile --target=${{ matrix.target }} src/main.ts --outfile ${{ matrix.name }}

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ matrix.name }}
            config.example.json
